@import "tailwindcss";

html, body {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
    display: none;
}

* {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

*::-webkit-scrollbar {
    display: none;
}

@font-face {
    font-family: "Host_Grotesk";
    src: url("/fonts/Host_Grotesk/Host_Grotesk-normal-400-latin.wBCQJesg.woff2");
    font-display: swap;
    font-style: normal;
}

@theme {
    --color-dark: #181717;
    --color-lightBrown: #b1a696;
    --color-middleBrown: #332e2b;
    --color-darkBrown: #2a2725;
    --color-tertiary: #181717;
    /*--breakpoint-xl: 1280px;*/
}

* {
    font-family: "Host_Grotesk", sans-serif;
}

@layer base {
    body {
        background-color: var(--color-darkBrown);
    }

    h1 {
        @apply heading-1
    }

    h2 {
        @apply heading-2
    }

    h3 {
        @apply heading-3
    }

    h4 {
        @apply heading-4
    }

    h5 {
        @apply heading-5
    }

    h6 {
        @apply heading-6
    }

    p {
        font-size: clamp(1rem, 2vw, 1.125rem);
        line-height: .9;
        letter-spacing: -0.2px;
    }
}

@utility heading-1 {
    font-size: clamp(2.5rem, 4vw, 4rem);
    line-height: 0.9;
    letter-spacing: -0.2px;
}

@utility heading-2 {
    font-size: clamp(2rem, 4vw, 3rem);
    line-height: 0.9;
    letter-spacing: -0.2px;
}

@utility heading-3 {
    font-size: clamp(1.75rem, 4vw, 2.5rem);
    line-height: 0.9;
    letter-spacing: -0.2px;
}

@utility heading-4 {
    font-size: clamp(1.5rem, 2.75vw, 70px);
    line-height: 0.9;
    letter-spacing: -0.2px;
}

@utility heading-5 {
    font-size: clamp(1.25rem, 4vw, 1.75rem);
    line-height: 0.9;
    letter-spacing: -0.2px;
}

@utility heading-6 {
    font-size: clamp(1rem, 4vw, 1.5rem);
    line-height: 0.9;
    letter-spacing: -0.2px;
}

@utility padding-x {
    @apply px-2.5
}

@utility -margin-x {
    @apply -mx-2.5
}

@utility padding-x-md {
    padding-inline: clamp(20px, 2vw, 54px);
}

@utility -margin-x-md {
    margin-inline: clamp(-20px, -2vw, -54px);
}

@utility padding-y-md {
    padding-block: clamp(30px, 8vw, 215px);
}

@utility padding {
    @apply p-2.5
}

@utility bg-gradient-dark {
    @apply bg-gradient-to-b from-tertiary via-middleBrown to-tertiary;
}

@utility bg-gradient-brown {
    @apply bg-gradient-to-b from-darkBrown/25 to-darkBrown;
}

@utility logo-fluid {
    width: clamp(350px, 90vw, 1374px);
}

@utility logo-fluid-lg {
    width: clamp(350px, 50vw, 1374px);
}

@utility logo-fluid-md {
    width: clamp(240px, 25vw, 1000px);
}

@utility fade-text {
    font-size: clamp(42px, 5vw, 160px);
    line-height: 0.9;
}

@utility xl-text {
    font-size: clamp(100px, 10vw, 200px);
}

@utility lg-text {
    font-size: clamp(50px, 5vw, 100px);
}

@utility md-text {
    font-size: clamp(25px, 2.5vw, 50px);
}

@utility sm-text {
    font-size: clamp(18px, 2vw, 38px);
}

@utility transition-item {
    @apply transition-all duration-200 ease-out;
}

@utility center-absolute {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}

@utility sub-heading {
    @apply text-sm font-semibold
}

.circle-clip-path {
    clip-path: circle(0%);
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
    overflow-y: hidden
}

button {
    @apply cursor-pointer;
}

.ddd {
    position: fixed;
    inset: 0;
    mask: url(#frame-mask);
    -webkit-mask: url(#frame-mask);
    z-index: 9999;
}


/*GSDevTools*/
.gs-dev-tools {
    z-index: 1000;
}